body {
	font-family: Roboto;
	font-size: 14px;
}

#content {
	display: flex;
	position: fixed;
	justify-content: space-around;
	width: 99%;
	height: calc(100% - 80px - 50px);
}

#vorschau {
	width: 65%;
	height: 100%;
	box-sizing: border-box;
	border: 1px solid #000;
	border-radius: 10px;
	background-color: #dedede;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 10px;
}

.hinweis {
	width: 75%;
	border: 5px solid #f00;
	font-size: 20px;
	text-align: center;
	padding: 10px;
	margin: 0 auto 20px auto;
}

.rahmen {
	position: fixed;
	box-sizing: border-box;
	border: 5px solid #000;
}

.sidebar {
	width: 15%;
	border: 1px solid #000;
	padding: 10px;
	text-align: center;
}

/* Einleitung */
.step2, .step3, .step4 {
	display: none;
}

.marker {
	position: fixed;
	display: none;
	border: 3px solid #000;
}

.active {
	cursor: pointer;
}

.inactive {
	opacity: 0.5;
	cursor: not-allowed;
}


form, table, tr, td:nth-child(2), select {
	width: 100%;
}

td:nth-child(1) {
	text-align: left;
	padding-right: 30%;
}
